<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<appSettings>
		<add key="rootPath" value="C:\Users\user\Desktop\旅遊資訊"></add>
		<add key="licenseFile" value="C:\Users\user\Desktop\合併列印\Aspose.Total.lic"></add>
		<add key="ExportTemplate" value="C:\Users\user\Desktop\合併列印\template.docx"></add>
	</appSettings>
</configuration>
